{% extends "layout.html" %}
{% block main %}
<div class="text-center">
  <img src="images/logo.png" class="img-fluid" alt="...">
</div>
<p>A <strong>Flask Conf</strong> é a primeira conferência brasileira para a comunidade de desenvolvedores <a href="http://flask.pocoo.org/" target="_blank">Flask</a>, microframework em <a href="https://www.python.org/" target="_blank">Python</a> utilizado para o desenvolvimento de aplicações web.</p>
<p>Nos dois dias do evento, mais de 120 profissionais e estudantes se reunirão para discutir e aprender mais sobre todo o ecossistema em torno do desse microframework através de tutorial e palestras.</p>
{% endblock %}
