{% extends "layout.html" %}
{% block main %}
<h1>{{ title }}</h1>
<p><b>Palestras</b> dia <b>25 de Agosto</b> no Imasters Developers Hub
<b>Rua Oscar Freire, 2379</b> - Pinheiros - São Paulo SP - Brasil</p>
<div class="google-maps">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d914.3621457957904!2d-46.67803802371338!3d-23.5523273197125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce578fa048e113%3A0xba03c3fade2aeb0d!2sDeveloper+E-Commerce+HUB!5e0!3m2!1spt-BR!2sbr!4v1532719272711" width="" height="" frameborder="0" style="border:0" allowfullscreen=""></iframe>
</div>
{% endblock %}
