body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: left;
}
.agenda {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
}
.card {
  margin: 1rem;
  text-align: left;
  flex: 1 0 auto;
}
